.contacts {
  background: url('./../../img/footer/bg-footer.jpg') center center / cover no-repeat;
  display: flex;
}

.conacts-wrap {
  position: relative;
}
.map {
  position: relative;
  top: 0;
}

.contacts__map {
  position: relative;
  height: 90vh;
  width: 100vw;
}
