.dark-burger {
  background: linear-gradient(rgb(249, 180, 59) 0%, rgb(235, 140, 56) 48%, rgb(249, 180, 59) 74%) center center / cover no-repeat;
}

.dark-burger--container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.slider {
  display: flex;
  width: rem(940px);
  overflow: hidden;
  height: rem(475px);
  position: relative;

  @include tablets {
    justify-content: center;
    align-items: center;
    align-self: center;
    height: 100vh;
    width: rem(630px);
    padding-top: 10%;
  }

  @include phones {
    height: 80vh;
    width: 95%;
  }
}

.slider__list {
  display: flex;


}

.slider__elem {
  display: flex;
  min-width: 100%;

  @include tablets {
    flex-direction: column;
    justify-content: center;
    // height: 95vh;
  }

  @include phones {
    height: 80vh;
    width: 90%;
  }
}

.slider__col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;

  @include tablets {
    height: 50vh;
  }

  @include phones {}
}

.slider__col_content {

  @include tablets {
    align-items: center;
    text-align: center;
  }

  @include phones {}
}

.slider__img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.title--slider {
  line-height: .9;
  margin-bottom: rem(47px);

  @include phones {
    width: rem(250px);
  }
}

.slider__text {
  @include ubuntu;
  color: #fff;
  font-size: rem(14px);
  line-height: rem(24px);
  margin-bottom: 20px;
  // padding-top: rem(20px);
  // padding-bottom: rem(25px);

  @include phones {
    width: 100%;
    padding: 0 10% 25px;
  }
}


.slider__info {
  display: flex;
}

.slider__info .btn {
  align-self: flex-end;
}

.slider__price {
  color: #e45028;
  font-size: rem(30px);
  margin-right: rem(30px);
  font-family: 'Gagalin-Regular';
  line-height: 1;
  letter-spacing: rem(-1.8px);
}

.slider__price span {
  font-size: rem(72px);
  font-family: 'Gagalin-Regular';
  letter-spacing: rem(-0.75px);
}

.slider__arrow {
  position: absolute;
  top: 0;
  bottom: 0;
  width: rem(50px);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 1s;
}

.slider__arrow_left {
  left: rem(-20px);
}

.slider__arrow_left .slider__arrow-icon {
  transform: rotate(90deg);
}

.slider__arrow_right {
  position: absolute;
  right: rem(-20px);
}

.slider__arrow_right .slider__arrow-icon {
  transform: rotate(-90deg);
}

.slider__arrow-icon {
  fill: #fff;
  width: rem(20px);
  height: rem(20px);
}


.components {
  position: absolute;
  top: rem(-0px);
  left: rem(30px);
  cursor: pointer;

  @include tablets {
    position: absolute;
    top: rem(10px);
    left: rem(90px);
  }

  @include phones {
    position: absolute;
    top: rem(-70px);
    left: rem(0px);
  }
}

.components:hover .components__btn {
  background-color: #e35028;
}

.components:hover .components__drop {
  top: 0;
  opacity: 1;
}

.components__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: rem(5px);
  background-color: rgba(227, 80, 40, 0.4);
  width: rem(90px);
  height: rem(90px);
}

.components__icon {
  width: rem(45px);
  height: rem(45px);
  fill: #fff;
  margin-bottom: rem(5px);
}

.components__btn-text {
  color: #fff;
  font-family: 'Gagalin-Regular';
  font-size: rem(14px);
}

.components__drop {
  position: absolute;
  left: rem(90px);
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: rem(5px);
  min-width: rem(270px);
  padding: rem(15px);
  top: rem(-2000px);
  opacity: 0;
  transition: opacity 0.3s;
}

.components__list {
  display: table;
  width: 100%;
}

.components__elem {
  display: table-row;
}

.components__col {
  display: table-cell;
  vertical-align: middle;
  padding: rem(5px);
}

.components__weight {
  text-align: end;
}

.kkal {
  position: absolute;
  bottom: rem(40px);
  left: rem(30px);

  @include tablets {
    position: absolute;
    top: 10px;
    right: 70px;
    left: initial;
  }

  @include phones {
    position: absolute;
    top: -60px;
    right: 20px;
  }
}

.kkal__icon {
  fill: #f9cf9d;
  width: rem(60px);
  height: rem(60px);
}

.kkal__desc {
  position: relative;
  @include gagalin;
  color: #f9cf9d;
}

.kkal__desc-title {
  position: absolute;
  top: rem(-42px);
  left: rem(13px);
  font-size: rem(20px);
}

.kkal__desc-text {
  position: absolute;
  left: rem(15px);
  font-size: rem(14px);
  text-align: center;
  line-height: 0.5;
}
