.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: rem(12px);
}
.header__buttons {
  display: flex;
  align-items: center;
}

.logo {
  width: rem(92px);
  height: rem(69px);
}
