.hero {
  background: url("../../img/main-bg.jpg") center center / cover no-repeat;
  position: relative;

  &:after {
    content: '';
    background-image: url('../../img/texture.png');
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
.hero__container {
  height: 100%;

}
.hero__content {
  display: flex;
  align-items: center;
  flex: .7;
  margin-left: 20px;
}
.hero__content-picture {

}
.hero__desc {
  margin-top: 60px;
  margin-left: 8px;
}
.hero__desc-title {
  line-height: 1;
}
.hero__subtitle {
  font-size: 65px;
  color: #fff;
  @include Lifehack;
  line-height: .9;
}
