
.reviews__list {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
}
.reviews__item {
  width: 25%;
  height: 50%;
  background: center center / cover no-repeat;
  position: relative;
  filter: grayscale(0);
  &:hover {
    filter: grayscale(1);
    .reviews__hover {
      background: rgba(#444646, .6);
      opacity: 1;

    }
  }
}
.reviews__title {
    @include gagalin;
    font-size: 14px;
    text-align: left;
    color: #fff;
    margin-bottom: 30px;
}
.reviews__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 1.71;
  text-align: left;
  color: #fff;
  margin-bottom: 17px;
}
.reviews__hover {
  color: #fff;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 50px 19px 19px;
  opacity: 0;
  transition: opacity .3s;
}
.reviews__pic {
  display: block;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
