.contacts {
  position: relative;
  // background: url('../../img/eight/map.jpg') center center / cover no-repeat;
  // display: flex;
}

.conacts-wrap {
  position: relative;
}

#map {
  width: 100%;
  height: 100vh;
}
