.footer {
  background: url('../img/footer/bg-footer.jpg') center bottom no-repeat;
  background-size: cover;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: rem(10px) 0;
}

// .footer-container {
//   position: absolute;
//   top: 0;
// }

.footer-wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include phones {
    flex-direction: column;
  }
}

.footer__left {
  padding: rem(10px) 0;
  font-size: rem(14px);
  color: #fff;
  font-style: normal;

  @include phones {
    justify-content: center;
    width: initial;
    padding: 0;
  }
}

.address {
  font-size: rem(14px);
  color: #fff;
  font-style: normal;
  margin-bottom: rem(10px);

  @include phones {
    flex-direction: column;
    padding: rem(18px) 0;
    margin: 0;
  }
}

.address__phone {
  text-align: left;
  @include phones {
    text-align: center;

  }
}

.address__phone-pic {
  fill: #e45028;
  width: rem(12px);
  height: rem(12px);
}

.social {
  height: 100%;

  @include phones {
    padding-bottom: rem(20px);
    height: 100%;

  }
}

.social-list {
  display: flex;


}

.social__item {
  margin-right: rem(20px);

  &:last-child {
    margin-right: 0;
  }
}

.social__links-svg {
  &:hover {
    fill: #fff;
  }
}

.vk {
  fill: #585858;
  width: rem(23px);
  height: rem(13px);
}

.fb {
  fill: #585858;
  width: rem(20px);
  height: rem(20px);
}

.inst {
  fill: #585858;
  width: rem(20px);
  height: rem(20px);
}

.twitter {
  fill: #585858;
  width: rem(20px);
  height: rem(16px);
}

.adress__link {
  font-size: rem(14px);
  color: #e45028;
  padding-left: rem(5px);
}
