.team {
  background: url('../img/fourth/fourth-bg.jpg') center center / cover no-repeat;
  position: relative;
}

.team__container {
  // position: relative;
}

.team-wrap {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 50%;
  background: rgba(#2f3234, .95);
  padding-left: rem(100px);
  padding-top: rem(110px);

  @include tablets {
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0;
  }

  @include phones {
    display: flex;
    flex-direction: column;

  }
}

.team__list {
  @include tablets {
    text-align: center;
  }
}

.team__list-item {
  margin-bottom: rem(15px);
  cursor: pointer;

}

.team__title {
  margin-bottom: rem(45px);
}

// .team__list-member {}

.team__list-desc {
  display: flex;
  max-height: 0;
  transition: .5s;
  overflow: hidden;

  @include tablets {
    display: flex;
    flex-direction: column;
    align-items: center;

    .team__list-img {
      margin-right: 0;
      margin-bottom: rem(18px);
    }
  }
}

.team__list-name {
  @include gagalin;
  color: #fff;
  font-size: rem(13px);
  margin-bottom: rem(17px);
  display: block;
  cursor: pointer;

  &:before {
    content: '';
    position: absolute;
    top: rem(7px);
    left: rem(-20px);
    width: 0;
    height: 0;
    border-left: rem(5px) solid transparent;
    border-right: rem(5px) solid transparent;
    border-top: rem(7px) solid #f9b43b;
    cursor: pointer;


  }

  @include tablets {
    &:before {
      content: '';
      left: rem(100px);
    }
  }
}

.team__list--active {
  .team__list-name {
    margin-bottom: rem(12px);
    color: $yellow;
    cursor: pointer;
  }

  .team__list-desc {
    max-height: 200px;
    width: 100%;
    display: flex;
    margin-bottom: rem(38px);


  }

  .team__list-name {
    cursor: pointer;

    &:before {
      transform: rotate(180deg);
    }
  }
}

.team__list-item {
  position: relative;
}

.team__list {
  margin-left: rem(20px);
}

.team__list-img {
  display: block;
  width: rem(100px);
  height: rem(100px);
  display: flex;
  border-radius: 50%;
  overflow: hidden;
  margin-right: rem(18px);
  align-self: center;
  flex-shrink: 0
}

.team__list-pic {
  width: 100%;
  display: block;
  object-fit: cover;
  object-position: center;
  flex-shrink: 0
}

.team__list-text {
  color: #fff;
  font-size: rem(14px);
  width: rem(220px);
  line-height: rem(24px);

  @include tablets {
    width: rem(332px);
  }
}

.team__list-position {
  margin-top: rem(-3px);
  font-weight: bold;
  margin-bottom: rem(13px);
}
