.work {
  background: url('../../img/seven/seven-bg.jpg') center center / cover no-repeat;
  padding: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.work__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0;
  // height: 100vh;
}

.video__play {
  height: 406px;
  width: 660px;
}

.video__play {
  // width: 60vw;
}
