.work {
  background: url('../../img/seven/seven-bg.jpg') center center / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work__container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  height: 300px;
  width: 300px;
}
.video__play {
  width: 60vw;
}
